.icon {
  font-size: xx-large;
}

.font-rubik {
  font-family: Rubik, sans-serif;
}

.gray-font {
  color: rgb(82, 83, 80) !important;
}

.sage-background {
  background-color: rgb(159, 183, 185) !important;
}
