.icon {
  font-size: xx-large;
}

.font-rubik {
  font-family: Rubik, sans-serif;
}

.gray-font {
  color: rgb(82, 83, 80) !important;
}

.sage-background {
  background-color: rgb(159, 183, 185) !important;
}

.name {
  margin-bottom: 0;
}

.navbar-brand {
  align-items: center;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .icon {
    font-size: x-large;
  }

  .nav-link {
    margin-left: 0;
    margin-right: 0;
  }

  .name {
    font-size: medium;
  }
}

.intro {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
